body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.ruutu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'care care care share'
    'to to dare share'
    'to to dare share';
}

.ruutu {
    border: 5px solid blanchedalmond;
    margin-right: 5rem;
    margin-left: 5rem;
}

.to {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.care {
    grid-area: care;
}

.dare {
    grid-area: dare;
}

.share {
    grid-area: share;
}

.to {
    grid-area: to;
}

.care {
    font-size: 350px;
    color: orange;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.dare {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 350px;
    color: green;
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
     'Open Sans', 'Helvetica Neue', sans-serif;
}

.to {
    writing-mode: vertical-lr;
    transform: rotate(220deg);
    font-size: 450px;
    font-weight: bold;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.share {
    writing-mode: vertical-lr;
    font-size: 350px;
    color: yellow;
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
     'Open Sans', 'Helvetica Neue', sans-serif;
}
